.project-box { 
    width: 50em; 
    height: 15em;

    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 1px;
    border-color: white;
    border-style: solid;
    border-width: 0.01em;


    color: white;
    text-align: left;

    margin-top: 3em;
    margin-left: 12.5%;
}

@font-face {
    font-family: HelveticaNow;
    src:url("/src/font/HelveticaNow.ttf");
  }

@font-face {
font-family: NeueMontreal;
src:url("/src/font/NeueMontreal-Bold.otf" );
}

.project-box-image { 
    width: 16.5em; 
    height: 16.5em;
    float: left;

}

.project-box-img { 
    width: 15em; 
    height: 15em;
    float: left;
    background-size: cover;
    /* Maintain image in div*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project-box-content { 
    margin-left: 15em; 
    margin-right: 5em;
    
}
.project-box-title {
    width: 15em; 
    height: 25%; 
    
    position: relative;
    margin-top: 0.4em;
    margin-bottom: 1em;


    font-family: 'NeueMontreal', sans-serif;
    font-size: 1.2em;
    font-weight: bold;

}

.project-box-description {
    font-size: 1em;
    
    position: relative; 
    margin-top: 0.2em;

    font-family: 'Roboto', sans-serif;
}

.project-box-date {
    position: relative; 
    /* text justify  */
    text-align: justify;
    margin-top: 1em;

    font-style: italic;
}

.project-box-link { 
    margin-top: 1em; 
    /* Bold */
    font-family: "NeueMontreal", sans-serif;
    font-weight: 100;
}