body { 
    
    background-color:#2e2e2f;
    position:relative;
    margin: 0;
    position: absolute;
    /* Center horizontally only */
    left: 50%;
    transform: translateX(-50%);
    
    color:rgb(255, 255, 255);
    font-family: "Lato", "Do Hyeon", sans-serif;
}
h3 { 
    background: #ed3981;
    color: white;
    font-family: "Lato", "Do Hyeon", sans-serif

}
li { 
    color:rgb(255, 255, 255);
    font-family: "Lato", "Do Hyeon", sans-serif;
}

.description { 
    color:rgb(255, 255, 255);
    font-family: "Lato", "Do Hyeon", sans-serif;
}