Body { 
  background-color: #0c0c0c; /* 0c0c0c */
  color: white; 
  font-family: 'Roboto', sans-serif;
}

.app-frame {
  position:fixed;
  padding:0;
  margin:1em;

  top:0;
  left:0;
  right:0;
  bottom:0;
  
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.App {
  text-align: center;
}

.app-header {
  z-index: 3;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: HelveticaNow;
  src:url("font/HelveticaNow.ttf");
}

@font-face {
  font-family: NeueMontreal;
  src:url("font/NeueMontreal-Bold.otf" );
}


.app-content {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: left;
  margin: 2em;
  font-family: "NeueMontreal", sans-serif;
  z-index: 1; 
  text-decoration: none;
}

a {
  color: white; 
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {

  color: #7269f1; 
}

.particles-bg { 
  width: 100%; 
  height: 98.5%;
  bottom: 1em;
  top: 0.2em;
  position: absolute;
  z-index: -1;
  opacity: 15%;
}
