.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #404446;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Lato", sans-serif; 
  font-weight: 100; 

}

.App-link {
  color: #aa92e2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 { 
  font-family: "Lato", "Do Hyeon", sans-serif;
  font-weight: 900;
  color: white; 

}

.App-body { 
  background-color: #b2ccd9;

}

.App-Description {
  font-family: "Lato", "Do Hyeon", sans-serif;
  font-weight: 100;
  color: white; 
  font-size: 0.7em;
  text-align: center;
  padding: 0 10px;
}

/* Make cat (with cat class), smaller */
.cat {
  width: 10em
}